.main-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #f4a100;
  color: #ffffff;
  font-weight: 600;
  transition: all 0.25s ease;
}

.main-btn--sm {
  height: 38px;
  padding: 0 14px;

  font-size: 13px;

  border-radius: 10px;
}

.main-btn--md {
  height: 44px;
  padding: 0 18px;
  font-size: 14px;
  border-radius: 12px;
}

.main-btn--lg {
  height: 50px;
  padding: 0 24px;
  font-size: 15px;
  border-radius: 14px;
}

.main-btn-icon {
  flex-shrink: 0;
}

.main-btn:hover {
  transform: translateY(-2px);
  /* box-shadow:
    0 8px 20px rgba(244, 161, 0, 0.25); */
}

.main-btn:active {
  transform: scale(0.98);
}

.main-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  transform: none;
}